*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}
body{
    background-color: #fff;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 40px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head h1{
    font-size: 50px;
}
.head p{
    color: #2e2e2e;
    font-size: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    background-color: #f9f9f9;
    gap: 25px;
    border-radius: 10px;
    border: 1px solid #cbcbcb9d;
}
.box input{
    width: 80%;
    border: 1px solid #cbcbcb;
    background-color: transparent;
    padding: 5px 10px;
}
.box h1{
    font-size: 30px;
}
.box p{
    color: #2e2e2e;
    text-align: center;
}
.box button{
    color: #fff;
    background-color: #101010;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
.box button:hover{
    background-color: #3c3c3c;
}
.box a{
    color: #101010;
    text-decoration: none;
    transition: 0.2s;
}
.box a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 550px){
    .box{
        padding: 50px 20px;
    }
    .box p{
        width: 300px;
    }
}